In [1]:
list1 = [1,2,3,4,5,6,7,8,9,10]

In [2]:
for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [3]:
for num in list1:
    if num % 2 == 0:
        print(num)
    else:
        print("This number is Odd")

This number is Odd
2
This number is Odd
4
This number is Odd
6
This number is Odd
8
This number is Odd
10

In [4]:
list_sum = 0

for num in list1:
    list_sum =  list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [5]:
for num in list1:
    list_sum = list_sum + num
print(list_sum)

110

In [8]:
250*40*30

300000

In [10]:
lsum = 0

for num in list1:
    lsum += num
print(lsum)

55

In [11]:
for letter in "This is a string":
    print(letter)

T
h
i
s

i
s

a

s
t
r
i
n
g

In [12]:
tup = (1, 2, 3, 4, 5)

for t in tup:
    print(t)

1
2
3
4
5

In [13]:
list2 = [(2,4),(6,8),(10,12)]

In [14]:
for t in list2:
    print(t)

(2, 4)
(6, 8)
(10, 12)

In [16]:
for (t1, t2) in list2:
    print(t1)

2
6
10

In [17]:
d = {'k1':1,'k2':2,'k3':3}

In [19]:
for item in d:
    print(item)

k1
k2
k3

In [20]:
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [21]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [22]:
d.values()

dict_values([1, 2, 3])

In [24]:
for k,v in d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3

In [25]:
list(d.keys())

['k1', 'k2', 'k3']

In [26]:
list(d.values())

[1, 2, 3]

In [27]:
sorted(d.values())

[1, 2, 3]