In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
for num in list1:
    print(num)

In [ ]:
for num in list1:
    if num % 2 == 0:
        print(num)
    else:
        print("This number is Odd")

In [ ]:
list_sum = 0

for num in list1:
    list_sum =  list_sum + num
    print(list_sum)

In [ ]:
for num in list1:
    list_sum = list_sum + num
print(list_sum)

In [ ]:
250*40*30

In [ ]:
lsum = 0

for num in list1:
    lsum += num
print(lsum)

In [ ]:
for letter in "This is a string":
    print(letter)

In [ ]:
tup = (1, 2, 3, 4, 5)

for t in tup:
    print(t)

In [ ]:
list2 = [(2,4),(6,8),(10,12)]

In [ ]:
for t in list2:
    print(t)

In [ ]:
for (t1, t2) in list2:
    print(t1)

In [ ]:
d = {'k1':1,'k2':2,'k3':3}

In [ ]:
for item in d:
    print(item)

In [ ]:
d.items()

In [ ]:
d.keys()

In [ ]:
d.values()

In [ ]:
for k,v in d.items():
    print(k)
    print(v)

In [ ]:
list(d.keys())

In [ ]:
list(d.values())

In [ ]:
sorted(d.values())

In [ ]:
x = 0

while x < 10:
    print("This is currently: ", x)
    print("x is still less than 10, adding 1 to x", x)
    x+=1

In [ ]:
x = 0

while x < 10:
    print("This is currently: ", x)
    print("x is still less than 10, adding 1 to x", x)
    x+=1
else:
    print("The loop is done")

In [ ]:
x = 0

while x < 10:
    print("This is currently: ", x)
    print("x is still less than 10, adding 1 to x", x)
    x+=1
    if x == 3:
        print("Breaking since x == 3")
        break
    else:
        print("Continuing ...")
        continue

In [ ]:
range(0,11)

In [ ]:
list(range(0,11))

In [ ]:
list(range(0,11,2))

In [ ]:
list(range(0,101,10))

In [ ]:
index_count = 0

for letter in "abcde":
    print("at index {} the letter is {}".format(index_count, letter))
    index_count +=1

In [ ]:
for i, letter in enumerate("abcde"):
    print("at index {} the letter is {}".format(i, letter))

In [ ]:
list(enumerate("abcde"))

In [ ]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d','e']

In [ ]:
# This one is also a generator! We will explain this later, but for now let's transform it to a list
zip(mylist1,mylist2)

In [ ]:
list(# This one is also a generator! We will explain this later, but for now let's transform it to a list
zip(mylist1,mylist2))

In [ ]:
mylist1

In [ ]:
help(mylist1.insert)

In [ ]:
mylist1.insert

In [ ]:
import pygame
canvas = graphics(500, 350, 'animation')

# The animation loop
while True:
    canvas.clear()
    # Draw stuff for 1 frame here
    canvas.update_frame(30)

In [ ]:
import pygame

# Initialize Pygame
pygame.init()

# Set up the drawing window
screen = pygame.display.set_mode([500, 350])

# Run until the user asks to quit
running = True
while running:
    # Did the user click the window close button?
    for event in pygame.event.get():
        if event.type == pygame.QUIT:
            running = False

    # Fill the background with white
    screen.fill((255, 255, 255))

    # Draw a solid blue circle in the center
    pygame.draw.circle(screen, (0, 0, 255), (250, 175), 75)

    # Flip the display
    pygame.display.flip()

    # Cap the frame rate
    pygame.time.Clock().tick(30)

# Done! Time to quit.
pygame.quit()

In [1]:
# This is the solution code for PyFlo Guided Project 1
#

# Ask the user for input values and convert to integers
width = input("Flag width:\n")
width = int(width)
height = input("Flag height:\n")
height = int(height)

# Calculate half of the width and height fur use in multiplication
half_width = int(width / 2)
half_height = int(height / 2)

# Create and print the rows of the flag
upper_row = '#' * half_width + '-' * half_width + '\n'
lower_row = '-' * width + '\n'
print(upper_row * half_height, end='')
print(lower_row * half_height, end='')

Flag width:
20
Flag height:
8
##########----------
##########----------
##########----------
##########----------
--------------------
--------------------
--------------------
--------------------

In [2]:
def say_hello():
    print("Hello")

In [3]:
say_hello()

Hello

In [8]:
def greeting(name):
    print(f'Hello {name}')

In [9]:
greeting("Tsion")

Hello Tsion

In [10]:
def add_num(num1, num2):
    return num1 + num2

In [11]:
add_num(3, 4)

7

In [12]:
res = add_num(3,4)

In [13]:
res

7

In [14]:
def even_check(number):
    return number % 2 == 0

In [15]:
even_check(20)

True

In [16]:
even_check(23)

False

In [17]:
def even_check_list(eve_list):
    for num in eve_list:
        if num % 2 == 0:
            return True
        else:
            pass

In [18]:
even_check_list([1,2,3])

True

In [19]:
even_check_list([246])

True

In [20]:
def check_even_list(num_list):
    
    even_num = []
    
    for num in num_list:
        if num % 2 == 0:
            even_num.append(num)
        else:
            pass
    return even_num

In [21]:
check_even_list([1, 2, 3, 4, 5, 6, 7, 8])

[2, 4, 6, 8]

In [22]:
work_hours = [('Abby',100),('Billy',400),('Cassie',800)]

In [27]:
def employee_check(work_hours):
    current_max = 0
    employee_of_month = ''
    for employee, hours in work_hours:
        if current_max < hours:
            current_max = hours
            employee_of_month = employee
        else:
            pass
    return (employee_of_month, hours)

In [28]:
employee_check(work_hours)

('Cassie', 800)

In [29]:
def sleep_in(weekday, vacation):
    # We can sleep in if it's not a weekday or we're on vacation
    return not weekday or vacation

# Test cases
print(sleep_in(False, False))  # Expected: True, because it's not a weekday
print(sleep_in(True, False))   # Expected: False, because it's a weekday and we're not on vacation
print(sleep_in(False, True))   # Expected: True, because we're on vacation

True
False
True

In [32]:
def monkey_trouble(a_smile, b_smile):
  if a_smile == True and b_smile == True:
    return True
  elif a_smile == False and b_smile == False:
    return True
  else:
    return False

In [33]:
print(monkey_trouble(True, True))

True

In [34]:
print(monkey_trouble(False, False))

True

In [35]:
print(monkey_trouble(True, False))

False

In [1]:
# Functions #1: print Hello World
# Write a function called myfunc that prints the string 'Hello World'.
def myfunc():
    print("Hello World")

In [2]:
myfunc()

Hello World

## Functions #2: print Hello Name
Define a function called myfunc that takes in a name, and prints 'Hello Name' 

NOTE: Define the function, but do not run it!

Also, do not use f-strings, as they are not supported in this Coding Exercise.

For example:

    def myfunc(name):
        print('My name is {}'.format(name))


Remember, do not run the function! However, if we were to pass in a name, it would look like this:

myfunc('Jose')

In [5]:
def myfunc(name):
    print("Hello", name)

In [7]:
myfunc("Tsion")

Hello Tsion

## Functions #3 - simple Boolean
Define a function called myfunc that takes in a Boolean value (True or False). If True, return 'Hello', and if False, return 'Goodbye'

Remember, don't run the function, simply provide the definition.

For example, a function that returns 'Inside' if a is True and 'Outside' if a is False could look like:

    def myfunc(a):
        if a == True:
            return 'Inside'
        elif a == False:
            return 'Outside'
    This is all you need to enter!

To give an idea what the above function would look like when tested:

myfunc(False)
# Output: 'Outside'

In [10]:
def myfunc(boole):
    if boole == True:
        return "Hello"
    else:
        return "Goodbye"

In [11]:
myfunc(False)

'Goodbye'

## Functions #4 - using Booleans
Define a function called myfunc that takes three arguments, x, y and z.
If z is True, return x.  If z is False, return y.

Remember, don't run the function, simply provide the definition.

For example, a function that returns a if c is True and b if c is False might look like:

    def myfunc(a,b,c):
        if c == True:
            return a
        else:
            return b
This is all you need to enter!

To give an idea what the function would look like when tested:

myfunc('Hello','Goodbye',False)
# Output: 'Goodbye'

In [12]:
def myfunc(x, y, z):
    if z == True:
        return x
    elif z == False:
        return y
    else:
        pass

In [13]:
myfunc(1, 2, False)

2

## Functions #6: is even
Define a function called is_even that takes in one argument, and returns True if the passed-in value is even, False if it is not.

In [14]:
def is_even(a):
    if a % 2 == 0:
        return True
    elif a % 2 != 0:
        return False

In [15]:
is_even(12)

True

## Functions #7: is greater
Define a function called is_greater that takes in two arguments, and returns True if the first value is greater than the second, False if it is less than or equal to the second.

In [16]:
def is_greater(a, b):
    if a > b:
        return True
    else:
        return False

In [17]:
is_greater(2, 6)

False

In [18]:
is_greater(6,4)

True

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [24]:
def almost_there(n):
    if abs(n - 100) <= 10 or abs(n - 200) <= 10:
        return True
    else:
        return False

In [25]:
almost_there(90)

True

In [26]:
almost_there(104)

True

In [27]:
almost_there(150)

False

In [28]:
almost_there(209)

True

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [49]:
def has_33(lst):
    for i in range(len(lst) - 1):
        if lst[i] == 3 and lst[i + 1] == 3:
            return True
        else: 
            return False

In [41]:
def has_33(lst):
    for i in range(len(lst) - 1):  # Iterate over indices, stopping at the second-to-last element
        if lst[i] == 3 and lst[i + 1] == 3:
            return True
    return False

# Example usage
print(has_33([3, 1, 3]))  # Should return False
print(has_33([3, 3, 1]))  # Should return True

False
True

In [50]:
has_33([1, 3, 3])

False

In [51]:
has_33([1, 3, 1, 3])

False

In [52]:
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [71]:
def paper_doll(word):
    result = ''
    for char in word:
        result += char * 3
    return result

In [73]:
paper_doll('Hello')

'HHHeeellllllooo'

In [75]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [80]:
def blackjack(a, b, c):
    if a + b + c <= 21:
        return a + b + c
    elif a + b + c >= 21 and (a + b + c) % 2 == 0:
        return (a + b + c) - 10
    elif (a + b + c) - 10 > 21:
        return "BUST"
    else: 
        return "Fail"

In [84]:
def blackjack(a, b, c):
    total = a + b + c
    # Check if the sum is 21 or less
    if total <= 21:
        return total
    # If the sum exceeds 21 and there's an Ace (represented by 11)
    elif 11 in [a, b, c] and total - 10 <= 21:
        return total - 10
    # If the sum exceeds 21 even after adjusting for Ace
    else:
        return "BUST"

In [85]:
blackjack(5,6,7)

18

In [86]:
blackjack(9,9,9)

'BUST'

In [87]:
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [88]:
def summer_69(num):
    exclude = [6, 7, 8, 9]
    total = sum(n for n in num if n not in exclude)
    return total

In [89]:
summer_69([1, 3, 5])

9

In [90]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [91]:
summer_69([2, 1, 6, 9, 11])

14

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [94]:
def spy_game(number):
    check = [0,0,7]
    for i in range(len(number) - 2):
        if number[i] == 1 and number[i + 1] == 1 and number[i + 2] == 1:
            return True
    return False

In [95]:
spy_game([1,2,4,0,0,7,5])

False

In [97]:
def has_three_consecutive_ones(lst):
    for i in range(len(lst) - 2):
        if lst[i] == 1 and lst[i + 1] == 1 and lst[i + 2] == 1:
            return True
    return False

In [98]:
has_three_consecutive_ones([1,2,4,0,0,7,5])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [109]:
def is_prime(n):
    """Check if a number is a prime."""
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

def count_primes(num):
    """Count how many prime numbers are there up to num."""
    count = 0
    for i in range(2, num + 1):
        if is_prime(i):
            count += 1
    return count

In [112]:
print(count_primes(100))

25

## Define a function called myfunc that takes in an arbitrary number of arguments, and returns the sum of those arguments.

In [113]:
def myfunc(*args):
    return sum(args)

In [114]:
myfunc(1,2,3,4)

10

## Functions #9: pick evens
Define a function called myfunc that takes in an arbitrary number of arguments, and returns a list containing only those arguments that are even.

In [124]:
def myfunc(*args):
    lst = []
    for arg in args:
        if arg % 2 == 0:
            lst.append(arg)
    return lst

In [125]:
myfunc(1,2,3,4)

[2, 4]

## Functions #10: skyline
Define a function called myfunc that takes in a string, and returns a matching string where every even letter is uppercase, and every odd letter is lowercase. Assume that the incoming string only contains letters, and don't worry about numbers, spaces or punctuation. The output string can start with either an uppercase or lowercase letter, so long as letters alternate throughout the string.

In [131]:
def myfunc(s):
    result = ''
    for i in range(len(s)):
        if i % 2 == 0:
            result += s[i].upper()
        else:
            return += s[i]
    return result

SyntaxError: invalid syntax (2505042446.py, line 7)

In [133]:
def myfunc(s):
    result = ''
    for i in range(len(s)):
        if i % 2 == 0:
            result += s[i].upper()  
        else:
            result += s[i] 
    return result

In [134]:
myfunc("hello")

'HeLlO'

In [126]:
def separate_even_odd_indices(s):
    even_indices = ""
    odd_indices = ""

    for i in range(len(s)):
        if i % 2 == 0:  # Even index
            even_indices += s[i]
        else:           # Odd index
            odd_indices += s[i]

    return even_indices, odd_indices

# Example usage
even, odd = separate_even_odd_indices("HelloWorld")
print("Even indices:", even)  # Characters at indices 0, 2, 4, ...
print("Odd indices:", odd)    # Characters at indices 1, 3, 5, ...

Even indices: Hlool
Odd indices: elWrd