## Q1. sleep_in
The parameter weekday is True if it is a weekday, and the parameter vacation is True if we are on vacation. We sleep in if it is not a weekday or we're on vacation. Return True if we sleep in.

    sleep_in(False, False) → True
    sleep_in(True, False) → False
    sleep_in(False, True) → True

In [92]:
def sleep_in(weekday, vacation):
  return not weekday or vacation

#print(sleep_in(False, False))
#print(sleep_in(True, False))
#print(sleep_in(False, True))

## Q2. monkey_trouble
We have two monkeys, a and b, and the parameters a_smile and b_smile indicate if each is smiling. We are in trouble if they are both smiling or if neither of them is smiling. Return True if we are in trouble.

    monkey_trouble(True, True) → True
    monkey_trouble(False, False) → True
    monkey_trouble(True, False) → False

In [4]:
def monkey_trouble(a_smile, b_smile):
  if a_smile == True and b_smile == True:
    return True
  elif a_smile == False and b_smile == False:
    return True
  else:
    return False

In [5]:
print(monkey_trouble(True, True))
print(monkey_trouble(False, False))
print(monkey_trouble(True, False))

True
True
False

## Q3. sum_double

Given two int values, return their sum. Unless the two values are the same, then return double their sum.

    sum_double(1, 2) → 3
    sum_double(3, 2) → 5
    sum_double(2, 2) → 8

In [14]:
def sum_double(a, b):
    if a == b:
        return 2*(a+b)
    else:
        return (a+b)

In [15]:
sum_double(1, 2)

3

In [16]:
sum_double(3, 2)

5

In [17]:
sum_double(2, 2)

8

# Q4. diff21
Given an int n, return the absolute difference between n and 21, except return double the absolute difference if n is over 21.
    
    diff21(19) → 2
    diff21(10) → 11
    diff21(21) → 0

In [18]:
def diff21(n):
    if n > 21:
        return abs(n - 21)*2
    else:
        return abs(n-21)

In [20]:
print(diff21(19))
print(diff21(10))
print(diff21(21))

2
11
0

## Q4. parrot_trouble
We have a loud talking parrot. The "hour" parameter is the current hour time in the range 0..23. We are in trouble if the parrot is talking and the hour is before 7 or after 20. Return True if we are in trouble.

    parrot_trouble(True, 6) → True
    parrot_trouble(True, 7) → False
    parrot_trouble(False, 6) → False

In [21]:
def parrot_trouble(talking, hour):
    if talking == True and hour < 7:
        return True
    elif talking == True and hour > 20:
        return True
    else:
        return False

In [22]:
print(parrot_trouble(True, 6))

True

In [24]:
print(parrot_trouble(True, 7))

False

In [25]:
parrot_trouble(False, 6)

False

## Q5. makes10
Given 2 ints, a and b, return True if one if them is 10 or if their sum is 10.

    makes10(9, 10) → True
    makes10(9, 9) → False
    makes10(1, 9) → True

In [37]:
def makes10(a, b):
    if a == 10 or b == 10 or a+b == 10:
        return True
    else:
        return False

In [38]:
print(makes10(9, 10) )

True

In [39]:
print(makes10(9, 9))

False

In [40]:
makes10(1, 9)

True

## Q6. near_hundred
Given an int n, return True if it is within 10 of 100 or 200. Note: abs(num) computes the absolute value of a number.

    near_hundred(93) → True
    near_hundred(90) → True
    near_hundred(89) → False

In [46]:
def near_hundred(n):
    if abs(n - 100) <= 10 or abs(n - 200) <= 10:
        return True
    else:
        return False

In [47]:
near_hundred(93)

True

In [48]:
near_hundred(90)

True

In [49]:
near_hundred(89)

False

## Q7. pos_neg
Given 2 int values, return True if one is negative and one is positive. Except if the parameter "negative" is True, then return True only if both are negative.

    pos_neg(1, -1, False) → True
    pos_neg(-1, 1, False) → True
    pos_neg(-4, -5, True) → True

In [71]:
def pos_neg(a, b, negative):
    if negative:
        # If the 'negative' parameter is True, return True only if both are negative.
        return a < 0 and b < 0
    else:
        # Return True if one is negative and one is positive.
        return (a < 0 and b > 0) or (a > 0 and b < 0)

In [72]:
pos_neg(4, 5, False)

False

In [73]:
pos_neg(-1, 1, False)

True

In [74]:
pos_neg(-4, -5, True)

True

In [75]:
pos_neg(-4, -5, False)

False

## Q8. not_string

Given a string, return a new string where "not " has been added to the front. However, if the string already begins with "not", return the string unchanged.

    not_string('candy') → 'not candy'
    not_string('x') → 'not x'
    not_string('not bad') → 'not bad'

In [88]:
def not_string(str1):
    if str1.startswith("not"):
        return str1
    else:
        return "not " + str1

In [89]:
not_string('candy')

'not candy'

In [90]:
not_string('x')

'not x'

## Q9. missing_char
Given a non-empty string and an int n, return a new string where the char at index n has been removed. The value of n will be a valid index of a char in the original string (i.e. n will be in the range 0..len(str)-1 inclusive).

    missing_char('kitten', 1) → 'ktten'
    missing_char('kitten', 0) → 'itten'
    missing_char('kitten', 4) → 'kittn'

In [98]:
def missing_char(str1, n):
    return str1.replace(str1[n], "")

In [99]:
missing_char('kitten', 1)

'ktten'

In [100]:
missing_char('kitten', 0)

'itten'

In [101]:
missing_char('kitten', 4)

'kittn'

LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd
   
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [4]:
def lesser_of_two_evens(a, b):
    if a%2 == 0 and b%2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [5]:
lesser_of_two_evens(2,4)

2

In [6]:
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [20]:
def animal_crackers(s):
    words = s.split()
    if words[0][0] == words[1][0]:
        return True
    else:
        False

In [22]:
animal_crackers('Levelheaded Llama')

True

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [29]:
def make_twenty(a,b):
    if (a + b == 20) or (a == 20 or b == 20):
        return True
    else: return False

In [30]:
make_twenty(20,10)

True

In [31]:
make_twenty(12,8)

True

In [32]:
make_twenty(2,3)

False

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [36]:
def make_capital(word, index):
    char_list = list(word)
    
    for ind in index:
        if 0 <= ind < len(word):
            char_list[ind] = char_list[ind].upper()
    return "".join(char_list)

In [38]:
make_capital('macdonald', [0,3])

'MacDonald'

In [35]:
def capitalize_by_index(s, indices):
    # Convert the string to a list of characters
    char_list = list(s)

    # Capitalize characters at the specified indices
    for index in indices:
        if 0 <= index < len(s):
            char_list[index] = char_list[index].upper()

    # Join the list back into a string
    return ''.join(char_list)

# Example usage
print(capitalize_by_index("hello world", [0, 6]))  # Capitalizes 'h' and 'w'

Hello World

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'

In [1]:
def master_yoda(sent):
    words = sent.split()
    return ' '.join(words[::-1])

In [2]:
master_yoda('I am home')

'home am I'

In [3]:
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number